name: Recent Activity

on:
  schedule:
    - cron: '0 */3 * * *' # Every 3 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: Readme-Workflows/recent-activity@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          IGNORED_REPOS: "addynoven/addynoven"
